.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color-dark-blue, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 80px auto;
  padding: 20px;
  background-color: rgba(0, 33, 68, 0.89);
  border-radius: 1px;
  width: 95%;
  position: relative;
  transition: all 2s ease-in-out;
  letter-spacing: 0;
  box-shadow: 0 0 40px 20px rgba($color-black, 0.4);


  @media screen and (min-width: $md) {
    padding: 30px 50px;
    width: 60%;
  }

  @media screen and (min-width: $mdl) {
    padding: 30px 50px;
    width: 35%;
  }

  p {
    @include font-size(13px, 21px, 0);

    @media screen and (min-width: $md) {
      @include font-size(13px, 22px, 1px);
    }
  }

  &__icon {
    width: 9em;

    @media screen and (min-width: $md) {
      width: 12em;
    }
  }

  h2 {
    margin-top: 0;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $color-white;

    &:hover {
      color: $color-green;
    }
  }

  .content {
    max-height: 30%;
    overflow: auto;
  }
}
