.source {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1em;

  @media screen and (min-width: $md) {
    background-color: rgba(0, 30, 80, 0.4);
    border-radius: 4px;
    box-shadow: 0 0 5em rgba($color-black, 0.5);
    padding: 1em;
    margin: 0 5%;
  }

  &__home {
    margin: 0 1em;

    @media screen and (min-width: $md) {
      margin: 0;
    }
  }

  &__title {
    margin: 1em auto 0;
  }

  &__card {
    height: auto;
    width: auto;
    text-align: left;

    @media screen and (min-width: $md) {
      height: 280px;
      width: 330px;
    }
  }

  &__text {
    @include font-size(17px, 25px, 1px);
  }
}

