.navigation {
  &__admin {
    display: none;

    @media screen and (min-width: $md) {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 30, 80, 0.8);
      padding: 1em;
      box-shadow: 0 0 5em rgba($color-black, 0.5);
      text-align: center;
      border-radius: 5px;
      margin: 1em;

      ul {
        padding: 0 2em 0 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__admin-block {
    position: absolute;
    background-color: rgba(0, 30, 80, 0.6);
    border-radius: 4px;
    margin-top: 4em;
    box-shadow: 0 0 5em rgba($color-black, 0.5);
  }

  &__admin-title {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    justify-content: center;

    h4 {
      color: $color-white;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  &__title {
    @include font-size(20px, 27px, 2px);
    font-family: sfmonomedium, Arial, Helvetica, sans-serif;
    color: $color-green;
    margin: 0 auto;
    padding: 0;

    @media screen and (min-width: $md) {
      margin: 1em 3.5em 0;
    }
  }

  &__edit {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(177, 5, 128, 0.4);
    margin: 2em 1em 2em 0;
    background-color: $color-dark-blue;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0 20px 10px rgba($color-black, 0.5);
      background: $color-dark-blue;
      color: $color-white;
    }
  }
}

.header {
  &__name-desktop-admin {
    display: block;
    margin: 0 15%;
    margin-top: -2em;
  }

  &__title-edit {
    padding: 1em 0;
  }
}

.presentation {
  &__admin {
    @include background((
      'gradient': (to left, (#009de100, #001638)),
      'image': '',
      'bg-position': right
    ));
    margin: 1em auto 2em;
    padding: 1em 3em;

    @media screen and (min-width: $md) {
      margin: -6em 4em 2em;
    }
  }
}

.main-area {
  &__edit {
    margin: -19em auto 5em;
    display: block;
    position: relative;
    background-color: $color-dark-blue;
    padding: 2em 4em;
    box-shadow: 20px 20px 50px rgba($color-black, 0.3);
  }
}

.opensource {
  &__admin {
    @include background((
      'gradient': (to left, (#009de100, #001638)),
      'image': '',
      'bg-position': right
    ));
    margin: 2em auto 4em;
  }
}
